<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>shopOnline3</display-name>
  
   <!-- REGISTRAZIONE -->
  <servlet>
  <servlet-name>Registrazione</servlet-name>
  <servlet-class>it.accenture.controller.Registrazione</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Registrazione</servlet-name>
  <url-pattern>/Registrazione</url-pattern>
  </servlet-mapping>
  
  <!-- LOGIN -->
  <servlet>
  <servlet-name>Login</servlet-name>
  <servlet-class>it.accenture.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Login</servlet-name>
  <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
  <!-- LOGOUT -->
  <servlet>
  <servlet-name>Logout</servlet-name>
  <servlet-class>it.accenture.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Logout</servlet-name>
  <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  
   <!-- LISTA PRODOTTI -->
  <servlet>
  <servlet-name>ListaProdotti</servlet-name>
  <servlet-class>it.accenture.controller.ListaProdotti</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ListaProdotti</servlet-name>
  <url-pattern>/ListaProdotti</url-pattern>
  </servlet-mapping>
  
  <!-- ELETTRONICA -->
  <servlet>
  <servlet-name>Elettronica</servlet-name>
  <servlet-class>it.accenture.controller.Elettronica</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Elettronica</servlet-name>
  <url-pattern>/Elettronica</url-pattern>
  </servlet-mapping>
  
  <!-- ABBIGLIAMENTO -->
  <servlet>
  <servlet-name>Abbigliamento</servlet-name>
  <servlet-class>it.accenture.controller.Abbigliamento</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Abbigliamento</servlet-name>
  <url-pattern>/Abbigliamento</url-pattern>
  </servlet-mapping>
  
   <!-- CASA -->
  <servlet>
  <servlet-name>Casa</servlet-name>
  <servlet-class>it.accenture.controller.Casa</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Casa</servlet-name>
  <url-pattern>/Casa</url-pattern>
  </servlet-mapping>
  
     <!-- LIBRI -->
  <servlet>
  <servlet-name>Libri</servlet-name>
  <servlet-class>it.accenture.controller.Libri</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Libri</servlet-name>
  <url-pattern>/Libri</url-pattern>
  </servlet-mapping>
  

<!-- CONTATTI -->
  <servlet>
  <servlet-name>Contatti</servlet-name>
  <servlet-class>it.accenture.controller.Contatti</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Contatti</servlet-name>
  <url-pattern>/Contatti</url-pattern>
  </servlet-mapping>


<!-- IL MIO ACCOUNT -->
  <servlet>
  <servlet-name>IlMioAccount</servlet-name>
  <servlet-class>it.accenture.controller.IlMioAccount</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>IlMioAccount</servlet-name>
  <url-pattern>/IlMioAccount</url-pattern>
  </servlet-mapping>

<!-- LISTA UTENTI -->
  <servlet>
  <servlet-name>ListaUtenti</servlet-name>
  <servlet-class>it.accenture.controller.ListaUtenti</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ListaUtenti</servlet-name>
  <url-pattern>/ListaUtenti</url-pattern>
  </servlet-mapping>




  
  <!-- DETTAGLI -->
  <servlet>
  <servlet-name>Dettagli</servlet-name>
  <servlet-class>it.accenture.controller.Dettagli</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Dettagli</servlet-name>
  <url-pattern>/Dettagli</url-pattern>
  </servlet-mapping>

</web-app>